@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: hwb(209 49% 19% / 0.995); 
    --secondary-color: hwb(209 49% 19% / 0.995); 
    --font-color: #333;
    --bg-color: #f5f5f5;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--font-color);
    background-color: var(--bg-color);
}
 
header, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img {
    max-height: 140px;
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(63, 108, 154);
    transition: width 0.3s ease;
}

nav a:hover::before {
    width: 100%;
}

.main {
    padding: 0 20px;
}

.hero {
    text-align: center;
    padding: 20px;
}

.client {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9bf2dcac;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.client img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.history-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    background-color: #9bf2dcac;
    padding: 20px;
    border-radius: 10px;
}

.history-content .text-left,
.history-content .text-right {
    flex: 1;
    max-width: 300px;
}

.history-content img {
    width: 100%;
    border-radius: 10px;
}

section {
    background-color: #bbdefb;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 10px;
}

section h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.adventure-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.adventure-images figure {
    text-align: center;
    margin: 10px;
}

.adventure-images img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px;
}

footer .social-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

footer .social-icons .social-icon {
    margin-left: 10px;
}

footer .social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
