* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    background: steelblue;
    color: #fff;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    display: flex;
    padding: 1rem;
    background-color: steelblue;
    align-items: center;
}

nav a {
    color: #fff;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: steelblue;
    padding: .5rem;
    border-bottom: 2px solid steelblue;
    margin-bottom: 20px;
    max-width: 100%;
}

.grid {
    display: grid;
    align-items: center;
    margin: 0 auto; /* Centraliza o div grid horizontalmente */
    max-width: 840px; /* Define o máximo de largura do grid */
}

main {
    margin: 1rem;
    grid-column: 2/3;
}

main img {
    border-radius: 50%;
    margin-top: 200px;
    width: 150px;
    padding: 2px;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    height: auto;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 60px;
    left: 63px;
    font-size: medium;
}

footer {
    background: none;
    color: #000;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 1px solid black;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto 0;
    margin: 0 auto;
    max-width: 840px;
}

p {
    padding: 0;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
    }

    main {
        padding: 10px;
    }

    aside {
        width: 100%;
    }
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1) ;
    padding: 1rem;
    background-color: #eee;
    color: #000;
    align-content: center;
}

ul {
    text-align: left;
}
